body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.inventory-form {
display: flex;
justify-content: left;
}

.inventory-form .sub-form {
  display: flex;
  justify-content: left;
}

.inventory-form .sub-form .div {
  justify-content: left;
}

.inventory-form .sub-form .container {
  justify-content: left;
}

div.data {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
  padding-bottom: 10px;
  width: 450px;
}

.error {
  color: red
}

.form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.required {
  color: red;
}